streamlit==1.37.1

# RAG e PDF
langchain==0.2.13
langchain-community==0.2.12
langchain-openai==0.1.21
sentence-transformers==2.7.0
faiss-cpu==1.8.0.post1
PyPDF2==3.0.1
pillow==10.4.0

# Modelo leve (Transformers em CPU)
transformers==4.43.3
accelerate==0.33.0
torch==2.8.0     # compatível com Python 3.13 no Cloud

# OpenAI e utilidades
openai>=1.30.0
python-dotenv==1.0.1
